<h1>mypage</h1>

<!--カレンダー-->
<%= month_calendar do |date| %>
  <%= date.day %>
<% end %>


<!--list 一覧-->
<span>リスト一覧</span>
<ul>
<li>買い物リスト<%= link_to 'リストにタグ+', new_tag_path %>
  <ul>
  <li>タグ</li>
  <li>タグ</li>
  <li>タグ</li>
  </ul>
</li>
<li>要件リスト
  <ul>
  <li></li>
  <li></li>
  <li></li>
  </ul>
</li>
<li>日常リスト
  <ul>
  <li></li>
  <li></li>
  <li></li>
  </ul>
</li>
</ul>

<%= link_to 'リストを追加', lists_path %>
<%= link_to 'リストにタグを追加', new_tag_path %>
