<h3>tagnew</h3>

<!-- new -->
<%= form_with model: @tag, url: tags_path, method: :post do |f| %>
 <div class="field">
   <%= f.label :tag_name %>
   <%= f.text_field :tag_name %>
 </div>

 <div class="action">
   <%= f.submit 'Create' %>
 </div>
<% end %>

<!-- index -->
<% @tags.each do |tag| %>
 <p>
  <%= tag.tag_name %>
  <%= link_to 'delete', tag_path(tag.id), method: :delete %>
 </p>
<% end %>


<p><%= link_to 'mypage', mypage_path %></p>